
/* Structure */
.fck-btnGroup{
    display: flex;
}

.fck-btn {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
}
.fck-btn.is-disable{
    cursor:default;
}

.fck-btn:hover {
    text-decoration: none;
}

.fck-btn__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;    
}

.fck-btn.is-full{
    width: 100%;
}
/* Design */
.fck-btn__inner {
    height: 60px;
    width: 100px;
    line-height: 1.4;
}

.fck-btn__contents {
    font-size: 13px;
}


/* Skin */
.fck-btn--default {
    color: #000;
    background-color: #ccc;
}
.fck-btn--default:hover:not(.is-disable) {
    background-color: #eee;
}


/* State */
.fck-btn--default.is-disable{
    background-color: #333;
}

/* Layout */
.fck-btnGroup.align-left{
    justify-content: flex-start;
}
.fck-btnGroup.align-right{
    justify-content: flex-end;
}
.fck-btnGroup.align-center{
    justify-content: center;
}
.fck-btnGroup .fck-btnGroup-full{
    display: block;
}